.banner-section {
    .carousel {
        .carousel-caption {
            right: 10%;
            left: initial;
            bottom: initial;
            top: 50%;
            transform: translateY(-50%);
            text-align: end;
            width: 40%;
        }

        img {
            height: 80vh;
        }
    }
}

.about-us {
    border-bottom: 1px solid #c7c7c7;
    padding-bottom: 30px;

    .custom-btn {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-top: 20px;
    }

    ul {
        li {
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}



.Specialities-card {
    position: relative;
    overflow: hidden;

    img {
        transition: 0.4s;
    }

    h3 {
        position: absolute;
        bottom: 20px;
        left: 0px;
        padding: 10px 30px;
        background-color: $secondary-color;
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
    }

    &:hover {
        img {
            transform: scale(1.3);
        }

        h3 {
            background-color: $primary-color;
        }
    }
}

.selling-trips ul li {
    font-size: 18px;
    background-color: #09732B;
    color: white;
    font-weight: 150;
    padding: 5px 60px;
    box-sizing: border-box;

    &:hover {
        background-color: $secondary-color;
    }
}

.selling-trip-cards {
    position: relative;

    .details {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0px;
        color: white;
        display: grid;
        grid-template-columns: auto 90px;

        h3 {
            background-color: $primary-color;
            padding: 10px 20px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 0px;
        }

        .duration {
            background-color: $secondary-color;
            text-align: center;
        }

    }

    .price {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: $secondary-color;
        padding: 10px 20px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        color: white;
        opacity: 0;
        transition: 0.4s;
    }

    &:hover {
        .price {
            opacity: 1;
        }
    }
}